@charset "UTF-8";

* {
    padding: 0;
    margin: 0;
    font-family: Helvetica;
    box-sizing: border-box;
}

body {
    background-color: gray;
}

button {
    background-color: #fdfdfd;
    color: #102F5e;
    border: 2px solid #102F5e;
    padding: .3rem .6rem;
    font-size: 1rem; /* tamanho dos icones */
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
}

button:hover {
    background-color: #102F5e;
}

button:hover > i {
    color: white;
}

button i {
    color: #102f5e;
    font-weight: bold;
    pointer-events: none;
}

input, 
select {
    padding: 0.25rem 0.5rem;
}

.hide {
    display: none;
}

/* to do header*/

.todo-container {
    max-width: 270px;
    margin: 1rem auto; /* modo mais facil de centralizar uma div */
    background-color: white;
    padding: 1.5rem;
    border-radius:15px;
}

.todo-container header {
    text-align: center;
    padding: 0 1rem 1rem; 
    font-size: 0.8em;
}

/* To do Form*/

#todo-form, #edit-form {
    padding: 1rem;
    border-bottom: 1px solid #ccc; /* cria a linha que divide as coisas */
}

#todo-form p,
#edit-form p {
    margin-bottom: 0.5rem; 
    font-weight: bold;
    font-size: 14px;
}

.form-control {
    display: flex; /* coloca os botões ao lado da caixa de input. */
}

.form-control input {
    margin-right: 0.3rem; /* da um espaço entre o input e o botão. */
} 

#cancel-edit-btn {
    margin-top: 1rem;
}

/* Todo toolbar */ 

.toolbar {
    padding: 1rem;
    border-bottom: 1px solid #ccc;
    display: flex;
    font-size: 12px;
}

.toolbar h4 {
    margin-bottom: 0.5rem;
}

.search {
    border-right: 1px solid #ddd; /* cria a linha na vertical */
    padding-right: 1rem;
    margin-right: 1rem;
    width: 65%;
    display: flex;
    flex-direction: column;
}

.search form {
    display: flex;
}

/*meu edit*/
.search input {
    margin-right: 0.3rem;
    width: 70px;
}
/*meu edit */

.filter {
    width: 45%;
    display: flex;
    flex-direction: column;
}

.filter select {
    flex: 1;
}

/*todo list*/

.todo {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1rem;
    border-bottom: 1px solid #ddd;
    transition: .3s;
}

.todo h3 {
    flex: 1;
    font-size: 0.9rem;
}